 * {
	padding: 0;
	margin: 0;
}

html,body {
	background-color: #6E7889;
	font-family: tahoma, sans-serif;
	color: #E6EBEE;
}

#card {
	background-color: #393B45;
	/*height: auto;*/
	width: 310px;
	margin: 15px;
	border-radius: 25px;
	padding-bottom: 1px;
	box-shadow: 2px 2px 5px #85FFBD;
    height: 366.2px;
    margin-inline-start: 40px;
}

h1 {
	color: white;
	text-align: center;
	width: 100%;
	background-color: #E6EBEE;
	border-radius: 25px 25px 0 0;
	color: #393B45;
	padding: 16px 0;
	font-weight: 800;
	margin: 0;
    font-size: 20px;
}

.image-crop {
	display: block;
	position: relative;
	background-color: #E6EBEE;
	width: 130px;
	height: 130px;
	margin: 0 auto;
	margin-top: 30px;
	overflow: hidden;
	border-radius: 50%;
	/*box-shadow: 1px 1px 5px #4069E2;*/
}

#avatar {
	display: inline;
	height: 130px;
    width: 130px;
	/*width: auto;
	margin-left: -34px;*/
}

#bio {
	display: block;
	margin: 30px auto;
	width: 280px;
	height: auto;
}

#bio p {
	color: #E6EBEE;
	font-weight: lighter;
	font-size: 15px;
	text-align: justify;
}

#stats {
	display: flex;
	flex-direction: row;
	height: auto;
	width: 280px;
	justify-content: space-between;
	align-items: center;
	margin: 0 auto;
	font-weight: 500;
}

.col {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: auto;
}

.stat {
	font-size: 18px;
	margin: 0;
}

.label {
	margin: 0;
    font-size: 15px;
}

#buttons {
	display: flex;
	margin: 0 auto;
	justify-content: space-between;
	width: 280px;
}

button {
	display: block;
	position: relative;
	padding: 10px 0;
	width: 130px;
	margin: 20px 0;
	border-radius: 25px;
	border: none;
	font-size: 16px;
	letter-spacing: 0.2px;
	font-weight: 500;
	background-color: #4069E2;
	color: #E6EBEE;
}

button:focus {
	display: none;
}

button:hover {
	transform: scale(1.03);
	cursor: pointer;
	transition: all 0.2s ease-in-out;
}

#msg{
	background-color: #E6EBEE;
	color: #393B45;
}
.test{
  font: bold 11px Arial;
  text-decoration: none;
  background-color: #EEEEEE;
  color: #333333;
  padding: 2px 6px 2px 6px;
  border-top: 1px solid #CCCCCC;
  border-right: 1px solid #333333;
  border-bottom: 1px solid #333333;
  border-left: 1px solid #CCCCCC;

}
#test2 {
    display: block;
	position: relative;
	padding: 10px 0;
	width: 130px;
	margin: 20px 0;
	border-radius: 25px;
	border: none;
	font-size: 16px;
	letter-spacing: 0.2px;
	font-weight: 500;
	background-color: #4069E2;
	color: #E6EBEE;
    text-align: center;

}
#test2:focus {
	display: none;
}

#test2:hover {
	transform: scale(1.03);
	cursor: pointer;
	transition: all 0.2s ease-in-out;
}
.dis{
  pointer-events: none;
  cursor: default;
}